<div class="card">
  <div class="card-image">
    <img src="{{ "/assets/img/adjourn.jpg" | relative_url }}" alt="Adjourn" />
  </div>
  <div class="card-content">
    <span class="card-title">Adjourn</span>
    <p>
      A Ruby on Rails-based application with a React-based meeting UI to make
      it easy to plan, execute, and communicate around meetings.
    </p>
    <p class="center-align">
        <a class="github-button" href="https://github.com/robyparr/adjourn"
          data-size="large" aria-label="Star robyparr/adjourn on GitHub">Star</a>
    </p>
  </div>
</div>