<div class="card">
  <div class="card-image">
    <img src="{{ "/assets/img/barcode-service.jpg" | relative_url }}"
      alt="Barcode Service" />
  </div>
  <div class="card-content">
    <span class="card-title">Barcode Service</span>
    <p>
      An Elixir / Phoenix API to generate barcodes. This is currently just a 
      test run of Elixir and Phoenix, but eventually I'd like to make the API
      generally available and have Bar My Codes running off of it.
    </p>
    <p class="center-align">
      <a class="github-button" href="https://github.com/robyparr/barcode-service"
        data-size="large"
        aria-label="Star robyparr/barcode-service on GitHub">Star</a>
    </p>
  </div>
</div>