<div class="card">
  <div class="card-image">
    <a href="https://barmycodes.herokuapp.com" target="_blank">
      <img src="{{ "/assets/img/barmycodes.jpg" | relative_url }}"
        alt="Bar My Codes" />
    </a>
  </div>
  <div class="card-content">
    <a class="card-title"
      href="https://barmycodes.herokuapp.com" target="_blank">
        Bar My Codes
    </a>
    <p>
      A Flask-based application that makes it easy to generate and share
      multiple barcodes.
    </p>
    <p class="center-align">
      <a class="github-button" href="https://github.com/robyparr/barmycodes"
        data-size="large" aria-label="Star robyparr/barmycodes on GitHub">Star</a>
    </p>
  </div>
</div>