<!-- Contact me -->
<div class="row animated fadeInLeft animated-order-1">
  <div class="col s12">
    <div class="card-panel padding-sides-none">

      <h5 class="margin-top-none"
          style="padding-left: 20px; padding-right: 20px;">
        Contact me
      </h5>

      <ul class="collection margin-bottom-none no-border">
        <li class="collection-item">
          Email
          <span class="pull-right secondary-text-colour">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </span>
        </li>
        <li class="collection-item">
          LinkedIn
          <span class="pull-right secondary-text-colour">
            <a href="https://ca.linkedin.com/in/robyparr" target="_blank">Roby Parr</a>
          </span>
        </li>
        <li class="collection-item">
          Github
          <span class="pull-right secondary-text-colour">
            <a href="https://github.com/robyparr" target="_blank">robyparr</a>
          </span>
        </li>
        <li class="collection-item">
          Twitter
          <span class="pull-right secondary-text-colour">
            <a href="https://twitter.com/robyparr" target="_blank">@robyparr</a>
          </span>
        </li>
      </ul>

    </div>
  </div>
</div> <!-- /Contact me -->