<div class="row identity pushpin" data-pushpin-top="25">
  <div class="col s12 valign-wrapper" style="height: 150px;">
    <div class="valign">
      <a href="/">
        <img src="{{ "/assets/img/avatar.jpg" | relative_url }}"
          alt="Roby Parr"
          class="circle"
          style="width: 100px; height: 100px;" />
      </a>
    </div>
    <a href="/" class="no-styling" style="margin-left: 25px;">
      <h5 class="margin-none">Roby Parr</h5>
      <h6 class="margin-none">Full Stack Developer</h6>
    </a>
  </div>
</div>