<div class="card">
  <div class="card-image">
    <a href="https://play.google.com/store/apps/details?id=com.rotato.networkheartbeat" target="_blank">
      <img src="{{ "/assets/img/networkheartbeat.jpg" | relative_url }}" alt="Network Heartbeat" />
    </a>
  </div>
  <div class="card-content">
    <span class="card-title">
      <a href="https://play.google.com/store/apps/details?id=com.rotato.networkheartbeat" target="_blank">
        Network Heartbeat
      </a>
    </span>
    <p>
      An Android<sup>TM</sup> application to make sure you always know whether that public
      WiFi connection or your home router is really working or not.
    </p>
    <p class="center-align">
      <a href="https://play.google.com/store/apps/details?id=com.rotato.networkheartbeat&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1" target="_blank">
        <img style="height: 60px; width: 185px;" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" />
      </a>
      <small style="display: block;">Android, Google Play and the Google Play logo are trademarks of Google Inc.</small>
    </p>
  </div>
</div>