<!-- Side information -->
<div id="sideInformation" class="col s12 m5 l3">
  
  <!-- My "profile" -->
  <div class="row identity">
    
    <div class="col s5 valign-wrapper" style="height: 150px;">
      <div class="valign">
        <a href="">
          <img src="{{ "/assets/img/avatar.jpg" | relative_url }}"
          alt="Roby Parr" class="circle animated fadeInDown animated-order-1"
          style="max-height: 100px; max-width: 100px; width: 100%; height: 100%;" />
        </a>
      </div>
    </div>
    
    <div class="col s7 valign-wrapper" style="height: 150px;">
      <div class="valign white-text">
        <a href="" class="no-styling">
          <h5 class="margin-none animated fadeInDown animated-order-2">
            Roby Parr
          </h5>
          <h6 class="margin-none animated fadeInDown animated-order-2">
            Full Stack Developer
          </h6>
        </a>
      </div>
    </div>
    
  </div> <!-- /My "profile" -->
  
  <!-- Contact me -->
  <div class="row animated fadeInLeft animated-order-1">
    <div class="col s12">
      <div class="card-panel padding-sides-none">
        
        <h6 class="bold" style="padding-left: 20px; padding-right: 20px;">
          Contact me
        </h6>
        
        <ul class="collection margin-bottom-none no-border">
          <li class="collection-item">
            Email
            <span class="pull-right secondary-text-colour">
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </span>
          </li>
          <li class="collection-item">
            LinkedIn
            <span class="pull-right secondary-text-colour">
              <a href="https://ca.linkedin.com/in/robyparr" target="_blank">Roby Parr</a>
            </span>
          </li>
          <li class="collection-item">
            Github
            <span class="pull-right secondary-text-colour">
              <a href="https://github.com/robyparr" target="_blank">robyparr</a>
            </span>
          </li>
          <li class="collection-item">
            Twitter
            <span class="pull-right secondary-text-colour">
              <a href="https://twitter.com/robyparr" target="_blank">@robyparr</a>
            </span>
          </li>
        </ul>
        
      </div>
    </div>
  </div> <!-- /Contact me -->
  
</div> <!-- /Side information -->