<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <!-- Website structure -->
    <main class="row" aria-label="Content" style="margin-top: -165px;">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/materialize.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/site.js" | relative_url }}"></script>
  </body>

</html>
