---
layout: default
---
<div class="row">
  <div class="col s12 m7 l6 offset-m5 offset-l3">

    <a href="/blog">Back to Posts</a>
    <article class="card blog-post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="card-content">
        <header>
          <span class="card-title" itemprop="name headline">
            <h1>{{ page.title | escape }}</h1>
          </span>
          <time class="grey-text lighten-3"
              datetime="{{ page.date | date_to_xmlschema }}"
              itemprop="datePublished">
            {{ page.date | date: site.default_date_format }}
          </time>
        </header>

        <div itemprop="articleBody">
          {{ content }}
        </div>

      </div> <!-- .card-content -->
      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>

  </div>
</div>
